<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="bootstrap.min.css" rel="stylesheet">
    <script src="My97DatePicker/WdatePicker.js"></script>
    <title>ESI_index</title>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ESIC</a>
            <ul class="nav navbar-nav">
                <li role="presentation"><a href="/op2challan"><strong>operation-chall</strong></a></li>
                <li role="presentation"><a
                        href="/op2contribution"><strong>operation-contribution</strong></a></li>
                <li role="presentation"><a href="/viewpdf"><strong>view-Pdf</strong></a></li>
                <li role="presentation"><a href="/e2pdf"><strong>upload-e2esiPdf</strong></a></li>
                <li class="active" role="presentation"><a href="/e2xsl"><strong>upload-e2esiXsl</strong></a></li>
                <!--            <li role="presentation"><a href="/s2challan"><strong>save-challan</strong></a></li>-->
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text"><small>admin:<span th:text="${session.userName}"></span></small></li>
            <li class="navbar-text"><small id="current-time"></small></li>

        </ul>
        <!-- Brand and toggle get grouped for better mobile display -->
    </div>
</nav>
<div class="container-fluid">
<!--    <h3>-->
<!--        ESIC &nbsp;&nbsp;<small>admin:<span th:text="${session.userName}"></span>&nbsp;</small>-->
<!--        <small id="current-time"></small>-->
<!--    </h3>-->
<!--    <div class="page-header">-->

<!--        <ul class="nav nav-pills">-->
<!--            <li role="presentation"><a href="/ModifyChallan">Modify Challan</a></li>-->
<!--            <li role="presentation"><a href="/ViewContributionHistory">ViewContributionHistory</a></li>-->
<!--            <li role="presentation"><a href="/OnlineChallanDoubleverification">OnlineChallan Doubleverification</a></li>-->
<!--        </ul>-->
<!--        <ul class="nav nav-pills">-->
<!--            <li role="presentation"><a href="/op2challan"><strong>operation-chall</strong></a></li>-->
<!--            <li role="presentation"><a href="/op2contribution"><strong>operation-contribution</strong></a></li>-->
<!--            <li role="presentation"><a href="/viewpdf"><strong>view-Pdf</strong></a></li>-->
<!--            <li role="presentation"><a href="/e2pdf"><strong>upload-e2esiPdf</strong></a></li>-->
<!--            <li class="active" role="presentation"><a href="/e2xsl"><strong>upload-e2esiXsl</strong></a></li>-->
<!--&lt;!&ndash;            <li role="presentation"><a href="/s2challan"><strong>save-challan</strong></a></li>&ndash;&gt;-->
<!--        </ul>-->
<!--    </div>-->

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Modify Challan</div>
                <div class="panel-body">
                    <div class="col-sm-4">
                        <label>Employer Code * ：</label>
                        <select class="form-control">
                            <option selected>67000909350001099</option>
                            <option>22001290260001099</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="mmyyyy">Period：</label>
                        <input class="form-control input-sm" id="mmyyyy" name="period" onclick="WdatePicker({dateFmt:'yyyyMMM'})" required
                               type="text"/>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading"><h4>Excel to xsl.</h4></div>
                <div class="panel-body">
                    <form action="/excel2xsl" class="form-horizontal" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="excel_upload_txt">Choose excel to upload</label>
                                <input accept=".xls,.xlsx" id="excel_upload_txt" name="file" required
                                       type="file"></input></div>
                        </div>
                        <input class="btn btn-default" type="submit" value="Submit"></input>
                    </form>
                </div>
            </div>
        </div>
        <p class="lead">&nbsp;
        </p>
    </div>
</div>
</body>
</html>
