<div th:fragment="employerCode-name" id="employerCode-id">
    <label>Employer Code * ：</label>
    <select class="form-control" id="employerCode" name="employerCode">
        <option th:selected="${'67000909350001099' eq employerCode}">67000909350001099
        </option>
        <option th:selected="${'22001290260001099' eq employerCode}">22001290260001099
        </option>
        <option th:selected="${'67000963060000999' eq employerCode}">67000963060000999
        </option>
        <option th:selected="${'13001039940000999' eq employerCode}">13001039940000999
        </option>
    </select>
</div>